@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&family=Inter:wght@600&display=swap');


body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
}

.container{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
}

h1{
    color: hsl(0, 0%, 100%);
}

h2{
    color: hsl(75, 94%, 57%);
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
}

p{
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Mobile: 375px*/


/*Desktop: 1440px*/